body {
    background-color: #FAFAFA;
    width: 500px;
    border: dotted; 
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* @media screen and (max-width: 640px){}*/
    

.kontejner {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 1657px;
    margin: 0 auto;
        
}


.traveler {
    background-size: 350px 291px;
    margin: 60px 75px;
   
    
    
    
}

h1 {
    /* font-size: 28px; */
    font-size: 27px;
    width: 194px;
    height: 37px;
    color:#000000;
    font-family: 'Montserrat'; 
    text-align: left;
   /* font-weight: 500; */
    margin: 20px 153px 20px 153px;
    padding: 0;
    
}


h2 {
    font-size: 15px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0 132px 15px 126px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #8B8B8B;
    width: 460px;
    height: 84px;
    
}

.sluzbyKancelare, .sluzbyDelegata {
    font-size: 13px;
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dobrodruzstvi {
    background-color: #407BFF;
    color: #FFFFFF;
    opacity: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 195px;
    height: 40px;
    margin: 30px 152px 0 153px;
    border-radius: 20px;
    padding: 11px 31px;

}

.pohoda {
    background-color: #8B8B8B;
    color: #FFFFFF;
    opacity: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 220px;
    height: 40px;
    margin: 10px 140px 60px 140px;
    border-radius: 20px;
    padding: 0;
}


p {
    width: 460px;
    margin: 0 20px;
}

.prvni {
    height: 84px;
}

.druhy {
    height: 66px;
    margin-bottom: 28px;
}

.treti {
    height: 69px;
}

.nadpisJedna {
    width: 242px;
    height: 21px;
}

.nadpisDva {
    width: 258px;
    height: 21px;
}

.mapa {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 0 20px;
    background-color: #FFFFFF;
    

}

.mapaPic {
    width: 45px;
    height: 40px;
    margin: 20px 0 20px 20px;
   }

.mapaText {
    width: 346px;
    height: 28px;
    margin: 32px 0 20px 29px;
}

.kaktus  {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 15px 20px 0 20px;
    background-color: #FFFFFF;
    

}

.kaktusPic {
    width: 40px;
    height: 40px;
    margin: 19px 0 21px 22px;
   }

.kaktusText {
    width: 346px;
    height: 28px;
    margin: 32px 20px 20px 32px;
}

.letadlo  {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 15px 20px 60px 20px;
    background-color: #FFFFFF;
}


.letadloPic {
    width: 45px;
    height: 40px;
    margin: 20px 0 20px 21px;
   }

.letadloText {
    width: 346px;
    height: 28px;
    margin: 32px 20px 20px 27px;
   }


.palma {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 15px 20px 0 20px;
    background-color: #FFFFFF;
  
}

.palmaPic {
    width: 50px;
    height: 40px;
    margin: 21px 24px 19px 20px;
   }

.palmaText {
    width: 346px;
    height: 28px;
    margin: 32px 20px 20px 0px;
   }

.destnik {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 15px 20px 0 20px;
    background-color: #FFFFFF;
  
}

.destnikPic {
    width: 50px;
    height: 40px;
    margin: 19px 26px 21px 18px;
   }

.destnikText {
    width: 346px;
    height: 28px;
    margin: 32px 20px 20px 0px;
   }

.karavan {
    display: flex;
    width: 460px;
    height: 80px;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    align-items: center;
    margin: 15px 20px 0 20px;
    background-color: #FFFFFF;
  
}

.karavanPic {
    width: 50px;
    height: 40px;
    margin: 20px 24px 20px 20px;
   }

.karavanText {
    width: 346px;
    height: 28px;
    margin: 32px 20px 20px 0px;
   }